@import "../../DesignSystem/colors.module";

.admin-dashboard-container {
  width: calc(100vw - 200px);
  height: calc(100vh - 80px);
  overflow-y: scroll;
  padding: 1rem;
  background-color: $darkNavyBlue;
  font-family: "Archivo", sans-serif;

  .admin-dashboard-header {
    display: flex;
    padding-bottom: 1rem;
    .admin-dashboard-heading {
      color: #b8b8b8;
      font-size: 19px;
    }
    justify-content: space-between;
    .admin-dashboard-leftcontainer {
      display: flex;

      .admin-dashboard-daterange {
        // border: 1px solid red;
        .datePicker {
          // width: 65%;
          padding: 0.55rem 0rem;
          border-radius: 0.3rem;
          border: none;
          background-color: $lightNavyBlue;
          color: #b8b8b8;
          text-align: center;
          letter-spacing: 1px;
          margin-right: 0.5rem;
        }
      }
      .admin-dashboard-download-button {
        .downloads-btn-container {
          background-color: hwb(220 28% 12%);
          padding: 0.5rem 0.8rem;
          border-radius: 0.3rem;
          border: none;
          color: white;
          letter-spacing: 0.3px;
        }
      }
    }
  }

  .overview-revenue-target-container {
    margin-top: 1rem;

    .revenue-chart-container {
      .revenue-header-container {
        margin-bottom: -1rem;
      }
    }

    .monthly-sales-chart-container {
      .targets-header-container {
        margin-bottom: -0.2rem;
      }
    }
  }

  .utilities-container {
    margin-top: 1rem;

    .revenue-container {
      .piechart-container {
        margin-top: 2rem;
        height: 250px;
      }
    }
  }

  .polar-map-container-parent {
    margin-top: 1rem;

    .polar-chart-text-container {
      .polar-chart-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 450px;
      }
    }
  }
}
