@import "../../../DesignSystem/colors.module";

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $lightNavyBlue;
  color: white;
  padding: 0.8rem 1rem;

  .header-logo-container {
    background-color: $lightNavyBlue;
  }

  .header-action-btns-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: $lightNavyBlue;

    .search-input-container {
      .search-input {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          border: none;
          padding: 0.3rem 0.8rem;
          border-radius: 4px;
        }

        input::placeholder {
          color: #a3acb5;
          opacity: 1; /* Firefox */
        }

        input::-ms-input-placeholder {
          /* Edge 12 -18 */
          color: #a3acb5;
        }
      }
    }

    .language-btn-container,
    .notification-btn-container,
    .settings-btn-container {
      margin-top: 0.2rem;
      cursor: pointer;
    }
  }
}
