.task-container {
  .task-header-container {
    display: flex;
    justify-content: space-between;
  }

  .task-body-container {
    color: #b8b8b8;
    font-family: "Archivo", sans-serif;
    font-size: 15px;
    letter-spacing: 0.2%;
    margin-top: 1rem;
    margin-left: 0.5rem;

    .task-line-container {
      display: flex;
      gap: 0.7rem;
      margin-bottom: 1rem;

      input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        outline: 1px solid rgb(68, 72, 82);
        width: 14px;
        height: 14px;
        border: none;
        border-radius: 2px;
        position: relative;
        background-color: rgb(113, 119, 135);

        &:checked {
          outline: 1px solid #b8b8b8;

          &::before {
            content: "\2713"; /* Unicode character for checkmark */
            font-size: 12px;
            color: #ffffff;
            background-color: #b8b8b8;
            width: 14px;
            height: 14px;
            border-radius: 2px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
