.sidebar-container {
  display: flex;
  width: 200px;
  background-color: #333742;
  height: calc(100vh - 80px);
  color: #b8b8b8;
  padding: 1rem 0rem;
  font-family: "Archivo", sans-serif;

  .sidebar-item-parent-container {
    padding-left: 1rem;
    p {
      font-size: 11px;
      letter-spacing: 1px;
    }

    .sidebar-item-children-container {
      margin-top: 1.2rem;

      .sidebar-item-child {
        display: flex;
        gap: 0.8rem;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}
